/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Lobster&family=Nunito&family=Sen:wght@700&family=Ubuntu:wght@500&display=swap');

/* Todos los elementos */
* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* HEADER */
.header {
    border-bottom: 1px solid black;
}

/* IMAGEN LOGO*/
.logo-you-are-body {
    width: 140px;
}

/* Nav */
.boton-menu {
    font-size: 17px;
    color: black;
    cursor: pointer;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: .5rem;
}

ol,
ul {
    padding-left: 0;
}

.header__nav-ul-li {
    margin: 0 10px;
    list-style: none;
    font-size: 7px;
    text-align: center;
}

.header__nav-ul-li-a {
    text-decoration: none;
    color: black;
}

/* HEADER FIN */

/* FOOTER */

.footer {
    min-height: 7vh;
    border-top: 1px solid black;
}

.footer__p {
    font-size: 7px;
}

.footer__p-a {
    text-decoration: none;
}

/*FOOTER FIN*/

/* INDEX.HTML */
/* SECCION HOME */
/* IMAGEN DE FONDO */
.seccion-home {
    min-height: 81vh;
    background-image: url('../multimedia/image/grupo-amigos-adolescente-concepto-trabajo-equipo-unidad-cancha-baloncesto_53876-20727.webp');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* PARRAFO TITULO */
.seccion-home__pconectate {
    font-size: 2.5em;
    padding-top: 1em;
    color: black;
    text-shadow: .5px .5px 30px white;
    transition: all;
    transition-duration: .5s;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-align: center;
}

/*ANIMACION TITULO*/
.seccion-home__pconectate:hover {
    color: rgb(251, 244, 232);
    text-shadow: .5px .5px 10px white;
    transform: scale(1.2);
    text-align: center;
}

/* TEXTO PARRAFO */
.seccion-home__pconectate-parrafo {
    font-size: .8em;
    margin: 30px 10%;
    text-shadow: .5px .5px 10px white;
    transition: all;
    transition-duration: .5s;
}

/*ANIMACION PARRAFO*/
.seccion-home__pconectate-parrafo:hover {
    color: rgb(251, 244, 232);
    text-shadow: .5px .5px 10px black;
    transform: scale(1.1);
}

/*CAJA CONTENEDORA NECESITAS AYUDA WHATSAPP */
.seccion-home__div {
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: .1em;
    right: .4em;
}

/* IMAGEN WHATSAPP */
.seccion-home__div-img {
    width: 25%;
}

/* LINK WHATSAPP */
.seccion-home__div-img-a {
    display: inline-block;
    font-size: .9em;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 15px;
    right: 30px;
    text-shadow: .5px .5px 25px white;
}

/* INDEX.HTML FIN */

/* CONOCENOSCONTACTANOS.HTML */
/* Contenedor body pagina conocenos-contactanos */


/* CAJA CONTENEDORA NECESITAS AYUDA WHATSAPP */
.conocenos__div {
    width: 200px;
    position: fixed;
    top: 9%;
    right: 10px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMAGEN WHATSAPP */
.conocenos__div-img {
    width: 25%;
}

/* LINK WHATSAPP */
.conocenos__div-img-a {
    font-size: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    text-shadow: 0px 0px 9px white;
}

/* IMAGENES Y PARRAFOS */
/* CAJA CONTENEDORA DE IMAGEN 1 + TITULO + PARRAFO */
.conocenos {
    padding: 0 50px;
}

.contenedor-imagen-1 {
    transition: all;
    z-index: 6;
    transition-duration: 1s;
}

.contenedor-imagen-1:hover {
    transform: scale(1.05);
    z-index: 6;
}

.conocenos-imagen-1 {
    width: 50%;
    position: relative;
    top: 10%;
    left: 5%;
    z-index: 10;
    border-radius: 20px;
}

.contenedor-textos-imagen-1 {
    padding: 0 10%;
    transition-duration: 1s;
}

.contenedor-textos-imagen-1:hover {
    transform: scale(1.09);
}

.conocenos-imagen1-titulo {
    font-size: 9px;
}

.conocenos-imagen1-parrafo {
    font-size: 9px;
}

/* CAJA CONTENEDORA DE IMAGEN 2 + PARRAFO */

.contenedor-imagen-2 {
    transition: all;
    transition-duration: 1.5s;
}

.contenedor-imagen-2:hover {
    transform: scale(1.05);
    z-index: 8;
    opacity: .9;
}

.conocenos-imagen-2 {
    width: 51%;
    position: relative;
    z-index: 5;
    border-radius: 20px;
}

.contenedor-textos-imagen-2 {
    transition: all;
    transition-duration: 1s;
}

.contenedor-textos-imagen-2:hover {
    transform: scale(1.1);
}

.conocenos-imagen-2-titulo {
    font-size: 9px;
}

.conocenos-imagen-2-parrafo {
    padding: 0 10%;
    font-size: 7px;
}

/* CAJA CONTENEDORA DE IMAGEN 3 + 3 PARRAFOS */
.contenedor-imagen-3 {
    transition: all;
    transition-duration: 1s;
}

.contenedor-imagen-3:hover {
    transform: scale(1.02);
    z-index: 9;
    opacity: .9;
}

.conocenos-imagen-3 {
    width: 55%;
    position: relative;
    bottom: 25px;
    border-radius: 20px;
}

.contenedor-textos-imagen-3 {
    margin-left: 5%;
    margin-bottom: 3%;
    transition: all;
    transition-duration: 1s;
}

.contenedor-textos-imagen-3:hover {
    transform: scale(1.1);
}

.conocenos-imagen-3-p1 {
    font-size: 8px;
}

.conocenos-imagen-3-p2 {
    font-size: 8px;
}

.conocenos-imagen-3-p3 {
    font-size: 8px;
}

/*SECCION CONTACTANOS*/

.contactanos {
    border-top: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
}

.contenedor-whatsapp-contactanos {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.contactacnos__img {
    width: 7%;
    margin-left: 15%;
}

.contactanos__img-a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(63, 189, 162);
    text-shadow: 1px 1px 1px black;
}

.contactanos__envianos-un-mensaje {
    font-size: 15px;
    margin-top: -10px;
}

.formulario-envianos-un-mensaje {
    height: 200px;
    display: flex;
    justify-content: center;
}

.nombre-apellido-asunto {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 5%;
}

.texto {
    height: 10%;
    padding-left: 7%;
}

.enviar-mensaje {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-area {
    height: 50%;
    padding-left: 5%;
}

.boton {
    margin-top: 10px;
    font-size: 10px;
    height: 10%;
}


/* SECCION DONDE ESTAMOS*/

.donde-estamos {
    height: 40%;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.donde-estamos__map {
    width: 40%;
    height: 50%;
}

.contenedor-de-titulo-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.donde-estamos__titulo {
    font-size: 15px;
    margin-bottom: 5%;
}

.donde-estamos__info {
    font-size: 10px;
}

/*FOOTER DE CONOCENOS CONTACTANOS*/
.conocenos-contactanos-footer__p {
    font-size: 7px;
}

/*FOOTER DE CONOCENOS CONTACTANOS fin */

/* INICIARSESIONREGISTRARME.HTML */
/* Contenedor body pagina iniciar-sesion-registrarme */

.seccion-iniciar-sesion {
    min-height: 81vh;
    background-color: rgba(219, 215, 215, 0.11);
}

/* IMAGEN DE FACE MANO CELULAR */
.contenedor-seccion-iniciar-sesion__img {
    width: 290px;
}

.seccion-iniciar-sesion__img {
    width: 100%;
}

/* DIV CAJA INICIAR SESION FORMULARIO + REGISTRO DE FACE*/
.contenedor-formulario-registro-no-registrado {
    background-color: rgba(219, 215, 215, 0);
    display: flex;
    flex-direction: column;
    width: 270px;
}

.formulario-de-registro {
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(218, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* LOGO YOUAREBODY */
.formulario-de-registro__logo {
    width: 125px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.formulario-ingreso-session {
    width: 190px;
    height: 114px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(218, 215, 215);
}

.formulario-input {
    border: 1px solid rgb(218, 215, 215);
    margin: 2px 0;
    padding-left: 5px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.651);
}

::-webkit-input-placeholder {
    font-size: 8px;
}

.botton {
    font-size: 10px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: rgb(140, 188, 216);
    color: white;
}

.botton:hover {
    background-color: rgb(110, 180, 220);
    cursor: pointer;
}

.botton:active {
    background-color: rgb(174, 223, 253);
}

.iniciar-sesion-con-facebook {
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-de-registro__logo-face {
    width: 5%;
    margin: 20px 5px;
}

.formulario-de-registro__logo-face-a {
    color: rgb(3, 70, 109);
    font-size: 10px;
    text-decoration: none;
}

.formulario-de-registro__logo-face-a:hover {
    color: rgb(28, 5, 117);
}

.formulario-de-registro__logo-face-a:active {
    color: rgb(136, 153, 191);
}

.formulario-de-registro__logo-face-ap {
    margin-bottom: 25px;
    font-size: 10px;
    text-decoration: none;
    color: black;
}

/* CAJA DIV PARA NO REGISTRADOS */

.no-registrado {
    width: 100%;
    height: 40px;
    margin-top: 5%;
    border-radius: 10px;
    border: 1px solid rgb(218, 215, 215);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-registrado__p {
    margin-right: 2%;
    font-size: 9px;
}

.no-registrado__p-a {
    font-size: 9px;
    text-decoration: none;
}

.descargas-apple-android {
    align-self: center;
    margin-top: 15px;
    width: 225px;
}

@media screen and (max-width: 767px) {
    .row {
        --bs-gutter-x: 0;
    }
    .conocenos {
        width: 100%;
        padding: 0;
    }

    .contenedor-imagen-1 {
        background-image: url(../multimedia/image/unidosluz.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        transition: none;
        height: 250px;
    }

    .contenedor-imagen-2 {
        background-image: url(../multimedia/image/ayudamano.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        height: 250px;
    }

    .contenedor-imagen-3 {
        background-image: url(../multimedia/image/unidosmanoslevantadas.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        height: 250px;
        color: antiquewhite;
        text-shadow: 1px 1px 5px black;
        padding: 0 15%;
    }
}

@media screen and (max-width: 576px) {
    .contactanos {
        height: 620px;
    }

    .formulario-envianos-un-mensaje {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nombre-apellido-asunto {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 100px;
        margin-left: 5%;
        width: 60%;
    }

    .texto {
        height: 30px;
        margin: 1% 0;
    }

    .enviar-mensaje {
        width: 60%;
    }

    .text-area {
        height: 100px;
    }

    .boton {
        height: 25px;
    }

    .donde-estamos {
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .contenedor-de-titulo-info {
        width: 100%;
    }

    .donde-estamos__titulo {
        margin-bottom: 10px;
    }

    .donde-estamos__map {
        width: 90%;
        height: 70%;
    }
}