/* FOOTER */

.footer {
    min-height: 7vh;
    border-top: 1px solid black;

    .footer__p {
        font-size: 7px;

        .footer__p-a {
            text-decoration: none;
        }
    }

}

/*FOOTER FIN*/

/*FOOTER DE CONOCENOS CONTACTANOS*/
.conocenos-contactanos-footer__p {
    font-size: 7px;
}
/*FOOTER DE CONOCENOS CONTACTANOS fin */