/* HEADER */
@import '../base/mapas';

.header {
    min-height: 9vh;
    /* IMAGEN LOGO*/
    .logo-you-are-body {
        width: 100%;
    }

    .header__nav-ul-li {
        margin: 0 10px;
        list-style: none;
        font-size: map-get($font-sizes , pequeño);
        text-align: center;

        .header__nav-ul-li-a {
            margin: 10px 0;
            padding: 0;
            text-decoration: none;
            color: black;
        }
    }

    .nav-boots {
        flex-grow: 0;
    }

    nav .boton-menu {
        transform: scale(.7);
        box-shadow: 1px 1px 3px grey;
        cursor: pointer;
    }

    border-bottom: 1px solid black;
}

/* Elementos de Bootstrap a modificar */
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: .5rem;
}

ol,
ul {
    padding-left: 0;
}


/* HEADER FIN */